* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

p {
    font-size: 16px;
    line-height: 1.7em;
    margin: 10 px 0;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}

/*nav*/

#navbar {
    background: rgb(92, 92, 92);
}

#navbar ul {
    list-style: none;
    float: right;
    color: rgb(200, 200, 200);
}

#navbar ul li {
    float: left;
    color: rgb(201, 201, 201);
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(200, 200, 200);
}

#navbar .container img {
    width: 8%;
}

#nav a:hover {
    color: green;
}

#navbar h3 {
    font-size: 100%;
    text-align: left;
}

#conferencia {
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 30px;
    text-align: right;
    color: white;
}

#conferencia h1 {
    padding-top: 20%;
}

#oradores {
    padding-top: 120px;
    padding-bottom: 100px;
    text-align: left;
}

#oradores h5, h2 {
    text-align: center;
}

#oradores h2 {
    text-transform: uppercase;
}

.cards-row {
    padding-top: 20px;
}

.card-box {
    float: left;
    width: 31%;
    margin-right: 15px;
    border: 1px solid rgba(0, 0, 0, 0.284);
}

.card-box img {
    width: 100%;
    padding-bottom: 5px;
}

.card-box .card-content {
    padding: 30px;
}

.card-box .card-footer {
    padding-left: 120px;
    padding-bottom: 25px;
}

#lugar-fecha .card-img img {
    width: 50%;
}

.col-md-8{
    background-color: rgb(51, 55, 61);
    color: white;
} 

/*form*/

#orador {
    padding-top: 120px;
    padding-bottom: 100px;
    text-align: left;
}

#orador h5, h3 {
    text-align: center;
}

#orador h3 {
    text-transform: uppercase;
    letter-spacing: 10px;
}

#orador p {
    text-align: center;
}

#orador .form-group {
    margin-bottom: 1rem;
}

#orador .form-control {
    display: block;
    width: 100%;
    padding: .375rem .7rem;
    font-size: 1rem;
}

#orador button {
    width: 100%;
}

/*footer*/

#main-footer {
    background: rgb(0, 60, 78);
}

#main-footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
}

#main-footer ul li {
    color: white;
}

#main-footer ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;
    text-align: center;
}